html
{
  color: #484848;
  background: #f9f9f9;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.28;
}
p
{
  margin: 0 0 10px;
}
a
{
  color: #c05b4d;
  text-decoration: none;
}
a:hover,a:focus
{
  color: #a5473a;
  text-decoration: underline;
}
a:focus
{
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted #333;
  outline-offset: -2px;
}
html *
{
  color-profile: sRGB;
  rendering-intent: auto;
}
*
{
  border: none;
  box-sizing: border-box;
  margin: 0;
  moz-box-sizing: border-box;
  padding: 0;
  webkit-box-sizing: border-box;
}
.container
{
  min-width: 960px;
  padding-top: 50px;
}
.wrap
{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 960px;
}
.nav-main
{
  background: #222;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  color: #fafafa;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  zoom: 1;
}
.nav-main:before,.nav-main:after
{
  content: " ";
  display: table;
}
.nav-main:after
{
  clear: both;
}
.nav-main a
{
  color: #e9e9e9;
  text-decoration: none;
}
.nav-main .nav-home
{
  color: #00d8ff;
  font-size: 24px;
  line-height: 50px;
}
.hero
{
  background: #2d2d2d;
  color: #e9e9e9;
  font-weight: 300;
  height: 200px;
  padding-top: 42px;
}
.hero .text
{
  font-size: 64px;
  text-align: center;
}
.hero .minitext
{
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.hero strong
{
  color: #61dafb;
  font-weight: 400;
}
.warning
{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 100%;
}
.warning a
{
  cursor: pointer;
}
.info
{
  margin-top: 18px;
  text-align: center;
}
.infopart
{
  display: inline-block;
  min-width: 125px;
  padding-left: 5px;
  padding-right: 5px;
}
.infopart b
{
  padding-right: 3px;
}
.decoded
{
  margin-top: 10px;
}
.buttons-unit
{
  margin-top: 42px;
  text-align: center;
}
.buttons-unit a
{
  color: #61dafb;
}
.buttons-unit .button
{
  background: rgba(204, 122, 111, 0.7);
  color: #fafafa;
  font-size: 24px;
}
.buttons-unit .button:active
{
  background: #c5695c;
}
.hero .buttons-unit .selected-button
{
  background: rgba(204, 122, 111, 1);
  border-radius: 0px;
  moz-transform: scale(1.1);
  transform: scale(1.1);
  webkit-transform: scale(1.1);
}
.button
{
  background: linear-gradient( #9a9a9a,#646464);
  background: -webkit-linear-gradient( #9a9a9a,#646464);
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: #fafafa;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0 12px;
  moz-transition: border-radius 0.3s ease, -moz-transform 0.2s ease;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  transition: border-radius 0.3s ease, transform 0.2s ease;
  webkit-transition: border-radius 0.3s ease, -webkit-transform 0.2s ease;
}
.button:hover
{
  text-decoration: none;
}
.button:active
{
  box-shadow: none;
}
.hero .button
{
  box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
}
.content,
.content textarea
{
  background-color: transparent;
  font-size: 14px;
  position: relative;
}
@media screen and (max-width: 960px)
{
  .nav-main
  {
    position: static;
  }
  .container
  {
    padding-top: 0;
  }
}